.navbar-logo a {
  font-size: 0;
  background: url('../../assets/images/logo-fixie.svg') no-repeat;
  width: 112px;
  height: 48px;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}

.navbar-light .navbar-nav .nav-link {
  color: $dark;
}

@include media-breakpoint-down(md) {
  .nav-item {
    text-align: center;
  }
}
