<footer class="bg-primary py-4">
  <div class="container text-white d-flex justify-content-between">
    <ul class="nav d-flex align-items-center">
      <li class="mr-4">
        <a href="#">
          <img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/perfume-week6/d%E2%80%99Perfumewhite.png" alt="logo">
        </a>
      </li>
      <li>
        <h6 class="font-size-sm font-weight-normal mb-0">© 2020. All Rights Reserved.</h6>
      </li>
    </ul>
    <ul class="nav d-none d-md-flex">
      <li class="nav-item">
        <a href="productList.html" class="nav-link h5 text-white">Product</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link h5 text-white">Blog</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link h5 text-white">Contact</a>
      </li>
    </ul>
  </div>
</footer>
