<nav class="navbar navbar-expand-md navbar-light py-2 py-md-0 px-0">
  <div class="container">
    <h1 class="navbar-logo h5 d-flex align-items-center ml-3 ml-md-0">
      <a class="navbar-brand" href="index.html">D'Perfume</a>
    </h1>

    <a class="text-secondary d-inline-block d-md-none ml-auto mr-3 cart" href="#">
      <span class="material-icons">shopping_cart</span>
    </a>

    <button class="navbar-toggler btn border-0 px-2 mr-3 mr-md-0" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse mt-2 mt-md-0" id="navbarCollapse">
      <ul class="navbar-nav ml-auto d-none d-md-flex">
        <li class="nav-item mr-4">
          <a class="nav-link h5" href="#">
            <span class="material-icons">store</span>
            Product
          </a>
        </li>
        <li class="nav-item mr-4">
          <a class="nav-link h5" href="#">
            <span class="material-icons">person</span>
            log in
          </a>
        </li>
        <li class="nav-item mr-4">
          <a class="nav-link h5" href="#">
            <span class="material-icons">favorite</span>
            Wishlist
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link h5" href="#">
            <span class="material-icons">shopping_cart</span>
            Cart(3)
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto d-block d-md-none">
        <li class="nav-item border-bottom border-white">
          <a class="nav-link h5 py-3" href="#">
            Product
          </a>
        </li>
        <li class="nav-item border-bottom border-white">
          <a class="nav-link h5 py-3" href="#">
            Wishlist
          </a>
        </li>
        <li class="nav-item border-bottom border-white">
          <a class="nav-link h5 py-3" href="#">
            Blog
          </a>
        </li>
        <li class="nav-item border-bottom border-white">
          <a class="nav-link h5 py-3" href="#">
            Contact
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link h5 py-3" href="#">
            log in
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
